build
tmp*
back.*
new.*
*.pdf
.*
[#]*[#]
.\#*
*~
_build
_static
_templates
autom4te.cache
config.h*
install-sh
stamp-h1
Makefile
aclocal* 
config.log
config.status
*.o
bin
svaba
aclocal.m4
html
latex
compile
*.a
*.rds

